section.vh-100.login_main_container {
  background-color: #F7FAFE;
}

.card.shadow-2-strong.login_cont {
  background-color: transparent;
  box-shadow: 0px 3px 12px 1px rgb(8 79 143 / 10%);
}
label.form-check-label {
  padding-left: 12px;
}
button.btn.btn-primary.btn-lg.btn-block.login_btn {
  background-color: #003C72;
  width: 100%;
}
